// Color Variables 
$primary-color: #BF2604;
$secondary-color: #F2F2F2;
$text-color: #262626;
$text-color-light: #262626;
$text-color-dark: #400D02;
$body-color: #fff;
$border-color:#dedede;

$extra-color: #0D0D0D;
$success: #1bbb1b;
$alert:#c7254e;

$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;

// Font Variables 
$primary-font: 'Poppins', sans-serif;
$secondary-font: 'futura-bold';
$icon-font: 'themify';